.feynman__link {
    position: absolute;
    top: 50%;
    right: 48px;
    display: flex;
    justify-content: flex-end;
    align-self: center;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    color: #2f80ed;
    text-decoration: none;
    z-index: 3;
}
.feynman__link:hover {
    position: absolute;
    top: 50%;
    right: 48px;
    display: flex;
    justify-content: flex-end;
    align-self: center;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    color: #2f80ed;
    text-decoration: none;
    z-index: 3;
    opacity: 0.5;
    transition: 0.5s;
}
